data/appdata/blade-pm.appdata.xml
data/interfaces/acme_ui.h
data/interfaces/blpm-settings_ui.h
libdbus/org.blade.unique.h
libdbus/blpm-dbus-marshal.c
libdbus/blpm-dbus-marshal.h
src/bar-plugins/brightness/xfce4-brightness-plugin
po/Makefile.in.in
po/blade-pm.pot
settings/blade-pm-dbus-client.h
settings/blade-pm-settings
src/org.freedesktop.PowerManagement.Inhibit.h
src/org.freedesktop.PowerManagement.h
src/org.blade.power.policy
src/blade-pm-dbus-client.h
src/blade-pm-dbus-server.h
src/xfce4-power-information
src/blade-pm
src/blpm-marshal.c
src/blpm-marshal.h
src/blpm-power-backlight-helper
src/xfce4-pm-helper
common/blpm-enum-types.c
common/blpm-enum-types.h
